* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

blockquote.editable {
    /**/
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 13px !important;
    /**/
}

.editable.highlight {
    background: #fe4902 !important;
    color: #ffffff !important;
}

.edit-text {
    display: inline;
}

.edit-text input {
    display: inline;
}

.edit-text textarea {
    display: inline-block;
    width: 300px !important;
    height: 150px !important;
}

body {
    background-color: #FFFFEE;
}

.width-25 { width: 25px; }
.width-50 { width: 50px; }
.width-75 { width: 75px; }
.width-100 { width: 100px; }

#edit-buttons {
    padding-top: 4px;
    margin-left: 10px;
    margin-bottom: 4px;
}

#header {
    position: relative;
    top: 0px;
    background-color: #abe3ff;
    border-bottom: 1px dashed #FFFFFF;
}

#header.collapsed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    /*overflow: hidden;*/
}

/* f4ke 4chan wraparound */

#f4ke {
    position: relative;
    padding: 10px;
    padding-top: 0px;
    width: 100%;
    color: #800000;
    font-family: arial,helvetica,sans-serif;
    font-size: 13px;
}

ul.sortable li:not(.op) {
    margin-bottom: 4px;
}

/*
## Forceful style hack
Required to get rid of some sort of strange little gray
box we get on either side of the OP post, which seems to be
a side-effect of the border+background combo. Strange..
*/
ul.sortable .op {
    background: none !important;
    background-color: none !important;
    border: none !important;
    border-color: none !important;
}

/* Pretty buttons! */

#edit-buttons .button {
    text-transform: uppercase;
}

.button.green {
    background-color: #5bb75b;
    border-color: #51a351;
}

.button.green:hover, 
.button.green:active {
    background-color: #51a351;
}

.button.red {
    background-color: #da4f49;
    border-color: #bd362f;
}

.button.red:hover,
.button.red:active {
    background-color: #bd362f;
}

.button.orange {
    background-color: #faa732;
    border-color: #f89406;
}

.button.orange:hover,
.button.orange:active {
    background-color: #f89406;
}

.button.cyan {
    background-color: #49afcd;
    border-color: #2f96b4;
}

.button.cyan:hover,
.button.cyan:active {
    background-color: #2f96b4;
}

.button {
    padding: 2px;
    background-color: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.button:hover {
    background-color: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #2E5481;
    border: solid 1px #203E5F;
}